<h1> Hi this is Demo 2 Page</h1>

<!-- for each is using the elements  -->
<!-- for each element in the data array
display h2 with element content -->


<% data.forEach(el => { %>
    <h2> <%= el.name %></h2>  
<% }) %>


<!-- for loops is indexing -->