<!-- Open body tag -->
<%- include('partials/header.ejs') %>



<div class = "container">
    <div class = "mainText">
        <h1> GETCHA MOVIES </h1>
    </div>
    <form action="/getMovie" method="get">
        <button type="submit" class="btn btn-warning">BUTTON</button>
    </form>
   
</div>






<!-- closing body tag -->
<%- include('partials/footer.ejs') %>
